html {
    background-image: url("bg.jpg");
    background-size: cover;
    height: 100%;
    overflow: hidden;
}

svg {
    display: flex;
    align-items: center;
    margin: auto;
    margin-top: 5%
  }

  H1 {
    text-align: center;
    color: #323b2a;
    font-family: 'Patrick Hand SC';
  }

  H2 {
    text-align: center;
    color: #323b2a;
    font-family: 'Patrick Hand SC';
  }