body {
    background-color: black;
  }
  h1 {
    color: navy;
    font-family: 'Courier New';
    text-align: center;
        }

  p {
    color: white;
    font-family: 'Courier New';
    text-align: center;
        }    
img {
    border-radius: 15px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
          }
  }