  html {
    background-image: url("bg.jpg");
    background-size: cover;
    height: 100%;
    overflow: hidden;
}

  div {
    color: #f5f5f5;
    font-family: 'Alata';
    align-self: center;
    margin-left: 160px;
    background-size: cover;
    height: 100%;
    overflow: hidden;
}  

  .axis-label {
	  font-size: 10px;
	  fill: #4B584F;
    text-anchor: middle;
    font-family: 'Alata';
}

  H1 {
    text-align: center;
    color: #f5f5f5;
    font-family: 'Alata';
    font-size: 16px;
}

  H2 {
    text-align: center;
    color: #f5f5f5;
    font-family: 'Alata';
    font-size: 14px;
}

p {
  margin-left: 80px;
  margin-right: 80px;
  text-align: left;
  color: #f5f5f5;
  max-width: 1800px;
  font-family: 'Alata';
  font-size: 12px;
}

label {
  margin-left: 80px;
  font-size: 12px;
  color: #f5f5f5;
  fill: #4B584F;
  text-anchor: middle;
  font-family: 'Alata';
}

.dot:hover {
	  fill: #208d32;
}
